.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

/* styles.module.css */

.header {
  background-color: #ffffff;
  /* Other styles */
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/* Hero section styles */
.hero {
  background-image: url('../../group-project-is218-450-teama/docs/images/home_page.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(245, 95, 8);
}

.hero_content {
  max-width: 600px;
  margin: 0 auto;
}

.hero_heading {
  font-size: 60px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 4px #FF0000;
}

.hero_subheading {
  font-size: 36px;
  margin-top: 80%;
  text-shadow: 2px 2px 4px #FF0000;
}

.hero_button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.hero_button:hover {
  background-color: #e63c00;
}

/* About section styles */
.about {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;
}

.container_footer {
  max-width: 800px;
  margin: 0 auto;
}


/* Services section styles */
.services {
  padding: 40px 0;
  text-align: center;
}

.service {
  margin-bottom: 30px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Contact section styles */
.contact {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}

.contact_button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #e63c00;
}

/*Styling for navigation menu */

.main_content {
text-align: center;
font-size: 20px;
}

.messages {
text-align: center;
}

.brand_logo {
text-align: center;
}

.logo {
position: absolute;
top: 10px;
left: 10px;
width: 75px;
height: 75px;
object-fit: fill;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
.list_items {
  list-style: none;
}
.footer{
  background-color: #24262B;
    padding: 70px 0;
}
.footer_col{
   width: 25%;
   padding: 0 15px;
}
.footer_col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer_col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer_col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer_col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer_col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer_col .social_links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer_col .social_links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

  /*Styling for navigation menu */

  .nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D9D9D9;
  }
  
  .nav_ul_li {
    float: right;
  }
  
  .nav_ul_li_a {
    display: block;
    color: rgb(15, 128, 204);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .li_a:hover {
    background-color: #111;
  }
  
  .main-content {
    text-align: center;
    font-size: 20px;
  }
  
  .messages {
    text-align: center;
  }
  
  .brand-logo {
    text-align: center;
  }
  
  .video {
    display: block;
    width: 100%;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 75px;
    height: 75px;
    object-fit: fill;
  }
  

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* styles.module.css */
.main_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.section {
  max-width: 800px;
  text-align: center;
  color: black; /* Text color set to black */
}

.flex_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 5%;
  text-align: center;

}
.flex_container > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  line-height: 25px;
  font-size: 12px;
  
}

.profile_image {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}

.box {
  text-align: center;

}

.box h3 {
  text-align: center;
}
